requests>=2.31.0
ollama>=0.1.0
python-dotenv>=1.0.1
slither-analyzer
solc-select
fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9
coinbase-agentkit>=0.7.4
coinbase-agentkit-langchain==0.7.0
langchain>=0.3.4,<0.4.0
langchain-core>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-openai>=0.1.0,<0.3.0
langgraph>=0.2.0,<1.0.0
web3>=6.0.0
